<appSettings>
  <add key="startingLevel" value="1"/><!-- Beware, very high value will crash UCS -->
  <add key="startingExp" value="0"/><!-- Beware, very high value will crash UCS -->
  <add key="startingGems" value="500"/><!-- Beware, very high value will crash UCS -->
  <add key="startingGold" value="1000"/><!-- Beware, very high value will crash UCS -->
  <add key="startingElixir" value="1000"/><!-- Beware, very high value will crash UCS -->
  <add key="startingDarkElixir" value="0"/><!-- Beware, very high value will crash UCS -->
  <add key="WelcomeMessage" value="Welcome! Enjoy your stay! and if you encounter bugs, report it to the discord!"/><!-- Welcome Message -->
  <add key="WelcomeMessageSender" value="LegacyClash"/><!-- This Changes the name of the person who sends the message -->
  <add key="ClanUpdatedMessage" value="4000"/>
  <add key="ClanUpdatedMessageSender" value="4000"/>
  <add key="startingTrophies" value="0"/>
  <add key="startingShieldTime" value="0"/><!-- Initial shield duration in seconds -->
  <add key="clientVersion" value="7"/><!-- Major version dot Client build -->
  <add key="useCustomPatch" value="false"/><!-- Specify if the server is using patches (.csv, .sc, ...) -->
  <add key="patchingServer" value="http://192.168.2.202/patch/"/><!-- Don't forget the trailing slash -->
  <add key="maintenanceMode" value="false"/><!-- People trying to connect will see a maintenance message if set to true -->
  <add key="databaseConnectionName" value="sqliteEntities"/>
    <!-- Chose ucsdbEntities for MySql, and edit ucsdbEntities connection string in ucs.exe.config -->
  <add key="loggingLevel" value="4"/>
  <!-- Set client variables -->
  <add key="UpdateUrl" value=""/>
  <add key="Maintenance" value="false"/>
  <add key="AdminBypass" value="true"/>
  <add key="MaintenanceMessage" value="NOTWORKING"/>
  <add key="startingName" value="Player"/>
  <add key="filterFilePath" value="filter.grd"/>
</appSettings>